*
  box-sizing: border-box
  font-family: $default-font-family
  margin: 0
  padding: 0

body
  background: $secondary-dark
  min-height: 100vh

button
  cursor: pointer
  padding: 0

input,
select
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none